﻿
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<WindowShopper.DTO.ProductTypes.ProductTypeDTO> productTypes = ViewBag.ProductTypes ?? new List<WindowShopper.DTO.ProductTypes.ProductTypeDTO>();
    WindowShopper.DTO.User.UserDTO activeUser = ViewBag.activeUser;
}
<section>
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label" for="HasSidebar">Product Image Small</label>
                        </div>
                        <div class="row">
                            <img class="file-upload-img" id="imgpreviewsmall" src="~/Images/home/ProductDefault_3.png" />
                            <input type="file" name="file" id="ImageUploadSmall" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label" for="HasSidebar">Product Image Default</label>
                        </div>
                        <div class="row">
                            <img class="file-upload-img" id="imgpreview" src="~/Images/home/ProductDefault.png" />
                            <input type="file" name="file" id="ImageUpload" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label" for="HasSidebar">Product Image Big</label>
                        </div>
                        <div class="row">
                            <img class="file-upload-img" id="imgpreviewbig" src="~/Images/home/ProductDefault_2.png" />
                            <input type="file" name="file" id="ImageUploadBig" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row newMesage-row">
                    <select id="productType" name="Type" class="form-control">
                        <option value="@productTypes[0].ID.ToString()" selected="selected">@productTypes[0].type</option>
                        @for (int i = 1; i < productTypes.Count; i++)
                        {
                            <option value="@productTypes[i].ID.ToString()">@productTypes[i].type</option>
                        }
                    </select>
                </div>
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="productname" placeholder="Product Name" />
                </div>
                <div class="row newMesage-row">
                    <textarea class="form-control" rows="5" id="description" placeholder="Description"></textarea>
                </div>
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="price" placeholder="Price" />
                </div>
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" />
                </div>
                <div class="row newMesage-row" style="float:right;">
                    <button class="btn btn-default" id="addNewProductButton">ADD</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("img#imgpreview")
                        .attr("src", e.target.result)
                        .width(255)
                        .height(237);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ImageUpload").change(function () {
            readURL(this);
        });
    });
    $(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("img#imgpreviewbig")
                        .attr("src", e.target.result)
                        .width(329)
                        .height(380);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ImageUploadBig").change(function () {
            readURL(this);
        });
    });
    $(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("img#imgpreviewsmall")
                        .attr("src", e.target.result)
                        .width(85)
                        .height(84);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ImageUploadSmall").change(function () {
            readURL(this);
        });
    });
    $("#addNewProductButton").on("click", function () {
        var NewProduct = {
            "productImageDefault": $('img#imgpreview').attr("src"),
            "productImageSmall": $('img#imgpreviewsmall').attr("src"),
            "productImageBig": $('img#imgpreviewbig').attr("src"),
            "productType": $('#productType').val(),
            "productName": $('#productname').val(),
            "productDescription": $('#description').val(),
            "productPrice": $('#price').val(),
            "productQuantity": $('#quantity').val()
        };
        $.ajax({
            type: "POST",
            data: JSON.stringify(NewProduct),
            url: "/Product/AddNewProduct",
            contentType: "application/json",
            success: function (data, textStatus, jqXHR) {
                if (data.IsSucceeded) {
                    window.location.replace("/Prfile?username=" + @activeUser.username);
                } else {
                    console.log(data);
                }
            },
            error: function (jqXHR) {
                console.log('Error: ' + jqXHR.statusText);
            },
            async: true,
            processData: false
        });
    });
</script>