﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<WindowShopper.DTO.UserTypes.UserTypeDTO> userTypes = ViewBag.UserTypes ?? new List<WindowShopper.DTO.UserTypes.UserTypeDTO>();
    WindowShopper.DTO.User.UserDTO user = ViewBag.User ?? new WindowShopper.DTO.User.UserDTO();

}

<style>
    ::-webkit-input-placeholder {
        font-style: italic;
    }

    :-moz-placeholder {
        font-style: italic;
    }

    ::-moz-placeholder {
        font-style: italic;
    }

    :-ms-input-placeholder {
        font-style: italic;
    }

    .row-buffer {
        padding: 25px 0px 25px 0px;
    }
</style>
<section id="form">
    <!--form-->
    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="username" placeholder="Username" value="@user.username" />
                </div>
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="settingsemail" placeholder="Email" value="@user.email" />
                </div>
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="settingspassword" placeholder="Password" value="@user.password" />
                </div>
                <div class="row newMesage-row">
                    <select id="userType" name="Type" class="form-control">
                        @for (int i = 0; i < userTypes.Count; i++)
                        {
                            if (user.userType == userTypes[i].ID)
                            {
                                <option selected="selected" value="@userTypes[i].ID.ToString()">@userTypes[i].type</option>
                            }
                            else
                            {
                                <option value="@userTypes[i].ID.ToString()">@userTypes[i].type</option>
                            }
                        }
                    </select>
                </div>
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="firstname" placeholder="Firstname" value="@((user.userInformation!=null)?user.userInformation.firstName:"")" />
                </div>
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="lastname" placeholder="Lastname" value="@((user.userInformation!=null)?user.userInformation.lastName:"")" />
                </div>
                <div class="row newMesage-row">
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" value="@((user.userInformation!=null)?user.userInformation.phoneNumber:"")" />
                </div>
                <div class="row newMesage-row">
                    <input type="text" class="form-control" id="ssn" placeholder="Social Security Number" value="@((user.userInformation!=null)?user.userInformation.SSN:"")" />
                </div>
                <div class="row newMesage-row" style="float:right;">
                    <button class="btn btn-default" id="updateSettings">UPDATE</button>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker();
        $('#datetimepicker').data("DateTimePicker").defaultDate(moment().format('DD/MM/YYYY'));
    });
    $("#updateSettings").on("click", function () {
        var UpdateSettingObject = {
            "username": $('#username').val(),
            "password": $('#settingspassword').val(),
            "email": $('#settingsemail').val(),
            "userType": $('#userType').val(),
            "firstName": $('#firstname').val(),
            "lastName": $('#lastname').val(),
            "birthDate": $('#datetimepicker').data("DateTimePicker").date().format('DD/MM/YYYY'),
            "phoneNumber": $('#phoneNumber').val(),
            "ssn": $('#ssn').val()
        };
        $.ajax({
            type: "POST",
            data: JSON.stringify(UpdateSettingObject),
            url: "/Settings/UpdateSettings",
            contentType: "application/json",
            success: function (data, textStatus, jqXHR) {
                if (data.IsSucceeded) {
                    window.location.replace("/Pofile?username=" + @user.username);
                } else {
                    console.log(data);
                }
            },
            error: function (jqXHR) {
                console.log('Error: ' + jqXHR.statusText);
            },
            async: true,
            processData: false
        });
    });
</script>